/* ==============================
   FOOTER FIXO ESTILO APP
============================== */
.footer {
  width: 100%;
  background: #ffffff;
  padding: 10px 0;
  border-top: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-around;
  align-items: center;

  position: fixed;
  bottom: 0;
  left: 0;

  box-shadow: 0 -3px 10px rgba(0,0,0,0.08);
  z-index: 20;
}

.footer-item {
  text-decoration: none;
  color: #555;
  font-size: 0.8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  transition: 0.2s ease;
}

.footer-item:hover {
  color: #2c7b2f;
}

.icon {
  font-size: 1.4rem;
  margin-bottom: 3px;
}
